<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Labor</h3>
    <button type="button" class=" btn btn-success">Save</button>
  </div>
  <div class="panel-body" *ngFor="let appliance of appliances">
    <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">{{appliance.applianceName}}</span>
    <input type="text"[value]='5000' class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
</div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Parts</h3>
    <button type="button" class=" btn btn-success">Save</button>
  </div>
  <div class="panel-body" *ngFor="let part of parts">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">{{part.name}}</span>
      <input type="text"[value]='part.cost' class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>
  </div>
</div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Net</h3>
    </div>
    <div class="panel-body">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Total:</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
    </div>
  </div>
</div>
</div>
