input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  border:1px solid red;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.input-group-addon{
  min-width: 95px;
}
.position-relative{
  position: relative;
}
.closeBtn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px 4px 0 0 ;
  opacity: 0.6;
  transition: all 0.3s;

}
.closeBtn:hover,
.closeBtn:focus{
  opacity: 1;
}

