<div class="row">
  <div class="col-xs-6 pull-right">

  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <label for="">Customer information</label>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Name</span>
        <p class="form-control">{{job?.name}}</p>
      </div>
    </div>
    <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Phone</span>
        <p class="form-control">{{job?.phone}}</p>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Address</span>
        <p id="address" class="form-control"><a href="map">{{job?.houseNumber}} {{job?.street}} {{job?.city}}, {{job?.zip}}</a></p>
    </div>
    </div>
    <form (ngSubmit)="updateStatus(f)" #f="ngForm" >
      <label for="">Change job status</label>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Job Status</span>
          <!-- <label for="job-status">Job Status</label> -->
          <select
          [(ngModel)]="jobStatus"
          name="jobStatus"
          #status="ngModel"
          id="job-status"
          class="form-control"
          required
          [ngStyle]="{'border-color':(status.invalid && status.touched)? 'red':'' }"
          >
            <option value="completed">Completed</option>
            <option value="need parts">Needs parts</option>
            <option value="parts received">Parts Received</option>
            <option value="need to chedule">Need To Schedule</option>
          </select>
        </div>
        <span class="help-block"
         *ngIf="status.invalid && (status.dirty || status.touched) ">Status Change required</span>
      </div>

      <div class="form-group">
        <div class="input-group" style="display: flex;">
          <textarea
          [(ngModel)]="privataNotes"
          name="privateNotes"
          #privateNotes="ngModel"
          type="text"
          id="description"
          class="form-control"
          rows="1"
          style="resize: none;"
          placeholder="explain status update"
          required
          [ngStyle]="{'border-color':(privateNotes.invalid && privateNotes.touched)? 'red':'' }"
          >
          </textarea>
          <button (click)="f.onSubmit()"
          class=" btn-textarea-submit btn btn-success"
          [disabled]='f.invalid'
          >Update</button>
        </div>
        <span class="help-block"
        *ngIf="privateNotes.invalid && (privateNotes.dirty || privateNotes.touched) ">Explanation required</span>
      </div>
  </form>
  <!-- end status change form -->
</div> <!--end left column-->
<div class="col-lg-6"> <!--beginning right column-->
  <label for="">Job information</label>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Work ord#</span>
          <p class="form-control">{{job?.workOrderNumber}}</p>
    </div>
  </div>

  <!-- beginning date appointment block -->
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Source</span>
        <p  class="form-control">{{job?.jobSource}}</p>
    </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Job #</span>
          <p class="form-control">{{job?.jobNumberAssigned}}</p>
      </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Job Type</span>
            <p id="address" class="form-control">{{job?.jobType}}</p>
        </div>
        </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Created</span>
        <p id="address" class="form-control">{{job?.jobCreated|date}}</p>
    </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Appt date</span>
          <p id="address" class="form-control">{{job?.jobAppointmentDate|date}}</p>
      </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Appt time</span>
            <p id="address" class="form-control">{{job?.jobAppointmentTime|date:'h:mm'}} </p>
        </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Completed</span>
              <p id="address" class="form-control">{{job?.jobCompletionDate|date:'short'}} </p>
          </div>
          </div>
  <!-- end date appointment block -->

</div><!--end right column-->
</div><!--end row -->

<hr>
<h4>History
  <span class="badge bg-secondary">{{job?.jobHistory.length}}</span>
</h4>
<ul class="list-group" *ngFor="let jobHistoryItem of job?.jobHistory;">
  <li class="list-group-item">{{ editDate| date:'yyyy-MM-dd'}}---{{jobHistoryItem.jobStatus}} --- {{jobHistoryItem.privateNotes}}</li>
</ul>

