<div class="col-xs-12">
  <form (ngSubmit)="uploadImage(imageUploadForm)" #imageUploadForm="ngForm"
  class="imageUploadForm">
  <button type="button" class="btn btn-primary mt-1" (click)="inputFile.click()">Add picture</button>
  <input type="file"
   name="inputFile"
   #inputFile
   ngModel
  (change)="onSelectFile($event)" style="display: none;">
  <div style="position: relative;">
    <img [src]="imageUrl" alt="" class="display-image">
    <a *ngIf="imageUrl" (click)="deselectImage()" style="color: red;text-decoration:none; cursor: pointer;">x</a>
  </div>

  <button type="submit"
  *ngIf="imageUrl!=null"
  class="btn btn-success"
  >Upload picture</button>
  </form>
  <hr>
<app-image-lightbox
[images]="images"
></app-image-lightbox>
</div>
