<div class="row">
  <div class="col-xs-12 col-sm-4">
    <app-part-edit></app-part-edit>
  </div>
  <div class="col-xs-12 col-sm-8" >
    <!-- <hr> -->
    <ul class="list-group">
      <a
      class="list-group-item"
      style="cursor:pointer"
      *ngFor="let part of parts; let i=index;"
      (click)="onEditItem(i)">
    {{part.number}}-<em> {{part.name}}</em>({{part.quantity}}) Trucking number: {{part.trackNumber}}
    <span class="pull-right" (click)="changePartStatus(i)">
    <svg *ngIf="part.received===true"  xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <svg *ngIf="part.received===false" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" class="bi bi-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    </svg>
  </span>
  <i class="bi bi-circle"></i>
    </a>
    </ul>
  </div>
</div>
