<ul class="nav nav-tabs">
  <li (click)="onSelectTab('info')"  [ngClass]="loadedTab=='info'? 'active':null"><a>Customer</a></li>
  <li (click)="onSelectTab('picture')" [ngClass]="loadedTab=='picture'? 'active':null"><a>Pictures</a></li>
  <li (click)="onSelectTab('appliances')" [ngClass]="loadedTab=='appliances'? 'active':null"><a>Appliances</a></li>
  <li (click)="onSelectTab('parts')" [ngClass]="loadedTab=='parts'? 'active':null"><a>Parts</a></li>
  <li (click)="onSelectTab('finance')" [ngClass]="loadedTab=='finance'? 'active':null"><a>Finance</a></li>
  <li><a>Invoice</a></li>
  <li class="pull-right"><div class="row">
    <div class="col-xs-12">
      <div appDropdown class="btn-group">
        <button type="button"
        style="margin:10px 0;"
        class="btn btn-primary dropdown-toggle">
        Manage Work order
        <span class="caret"></span>
      </button>
      <ul  class="dropdown-menu">
        <li><a (click)="addParts(job.parts)" style="cursor: pointer;">To Parts list</a></li>
        <li><a [routerLink]="['edit']">Edit Work order</a></li>
        <li><a href="#">Delete Work order</a></li>
      </ul>
      </div>
    </div>
  </div></li>
</ul>
<!-- IMAGES -->
<div
  class="row"
  *ngIf="loadedTab=='picture'" >
    <div class="col-xs-12">
      <form (ngSubmit)="uploadImage(imageUploadForm)" #imageUploadForm="ngForm"
      class="imageUploadForm">
      <button type="button" class="btn btn-primary mt-1" (click)="inputFile.click()">Add pictures...</button>
      <input type="file"
       name="inputFile"
       #inputFile
       ngModel
      (change)="onSelectFile($event)" style="display: none;">
      <div style="position: relative;">
        <img [src]="imageUrl" alt="" class="display-image">
        <a *ngIf="imageUrl" style="position: absolute;top: 0;right: 0;color: red;">x</a>
      </div>

      <button type="submit"
      *ngIf="imageUrl!=null"
      class="btn btn-success"
      >Upload</button>
      </form>
      <hr>
    <app-image-lightbox
    [images]="job.images"
    ></app-image-lightbox>
    </div>

  </div>
<!-- END IMAGES -->
  <div
   class="row"
   *ngIf="loadedTab=='parts'">
    <div class="col-xs-12">
     <ul class="list-group">
       <li class="list-group-item"
       *ngFor="let part of job.parts"
       >{{part.number}} - {{part.name}} - {{part.quantity}}</li>
     </ul>
    </div>
  </div>
        <!-- CUSTOMER INFO -->
        <div  *ngIf="loadedTab == 'info'">
          <app-customer-info [currentJob]="job"></app-customer-info>
        </div>
        <!-- END CUSTOMER INFO -->
                  <!-- APPLIANCES -->
                  <div *ngIf="loadedTab=='appliances'">
                    <div *ngFor="let appliance of appliances">
                    <div class="row" >
                      <div class="col-xs-12">
                        <h3>{{appliance.applianceName}}</h3>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="address">Model #</label>
                        <input
                        type="text"
                        [value]="appliance.model"
                        id="address"
                        class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="address">Serial #</label>
                        <input
                        [value]="appliance.serial"
                        type="text"
                        id="address"
                        class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <label for="description">Description</label>
                          <textarea
                          class="form-control"
                          id="description"
                          [value]="appliance.applianceDescription"></textarea>
                      </div>
                    </div>
                  </div>
                  <hr>
                  </div>
                </div>
                  <!-- END APPLIANCES -->
                  <!-- BEGINNING FINANCE -->
        <div *ngIf="loadedTab=='finance'">
        <app-job-finance
        [appliances]='job.appliances'
        [parts]='job.parts'
        ></app-job-finance>
        </div>
                  <!-- END FINANCE -->


