<ul class="nav nav-tabs">
  <li (click)="onSelectTab('info')"  [ngClass]="loadedTab=='info'? 'active':null"><a>Customer</a></li>
  <li (click)="onSelectTab('picture')" [ngClass]="loadedTab=='picture'? 'active':null"><a>Pictures</a></li>
  <li (click)="onSelectTab('appliances')" [ngClass]="loadedTab=='appliances'? 'active':null"><a>Appliances</a></li>
  <li (click)="onSelectTab('parts')" [ngClass]="loadedTab=='parts'? 'active':null"><a>Parts</a></li>
  <li (click)="onSelectTab('finance')" [ngClass]="loadedTab=='finance'? 'active':null"><a>Finance</a></li>
  <li><a>Invoice</a></li>
  <li class="pull-right"><div class="row">
    <div class="col-xs-12">
      <div appDropdown class="btn-group">
        <button type="button"
        style="margin:10px 0;"
        class="btn btn-primary dropdown-toggle">
        Manage Work order
        <span class="caret"></span>
      </button>
      <ul  class="dropdown-menu">
        <li><a (click)="addParts(job.parts)" style="cursor: pointer;">To Parts list</a></li>
        <li><a [routerLink]="['edit']">Edit Work order</a></li>
        <li><a href="#">Delete Work order</a></li>
      </ul>
      </div>
    </div>
  </div></li>
</ul>
<!-- IMAGES -->
<div
  class="row"
  *ngIf="loadedTab=='picture'" >
  <app-images-detail
  [images]="job.images"
  [id]="id"></app-images-detail>
  </div>
<!-- END IMAGES -->
  <div
   class="row"
   *ngIf="loadedTab=='parts'">
    <div class="col-xs-12">
     <ul class="list-group">
       <li class="list-group-item"
       *ngFor="let part of job.parts"
       >{{part.number}} - {{part.name}} - {{part.quantity}}</li>
     </ul>
    </div>
  </div>
        <!-- CUSTOMER INFO -->
        <div  *ngIf="loadedTab == 'info'">
          <app-customer-info [currentJob]="job"></app-customer-info>
        </div>
        <!-- END CUSTOMER INFO -->
                  <!-- APPLIANCES -->
                  <div *ngIf="loadedTab=='appliances'">
                    <app-appliance-detail [appliances]=job.appliances></app-appliance-detail>
                  </div>
                  <!-- END APPLIANCES -->
                  <!-- BEGINNING FINANCE -->
        <div *ngIf="loadedTab=='finance'">
        <app-job-finance
        [appliances]='job.appliances'
        [parts]='job.parts'
        ></app-job-finance>
        </div>
                  <!-- END FINANCE -->


