.mt-1{
  margin-top: 0.5rem;
}
.imageUploadForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.display-image{
  width: 60px;
  height: auto;
  margin: auto 1rem;
}
